<h2>Search Page</h2>
<p>{{ title }}</p>

<p><input type="text" ng-model="searchTerm" ng-keydown="search($event)" autofocus></p>

<p>{{ message }}</p>

<table>
  <tr>
    <td>Twitch Stream Information:</td><td></td><td>Current Game Information:</td>
  </tr>
  <tr>
    <td>Stream available:</td><td>{{ streamAvailable }}</td><td>Game available:</td><td>{{ gameAvailable }}</td>
  </tr>
  <tr>
    <td>Broadcaster:</td><td>{{ stream.channel }}</td><td>Summoner:</td><td>{{ game.summonerName }}</td>
  </tr>
  <tr>
    <td>Title:</td><td>{{ stream.title }}</td><td>Game mode:</td><td>{{ game.gameMode }}</td>
  </tr>
  <tr>
    <td>Game:</td><td>{{ stream.game }}</td><td>Game type:</td><td>{{ game.gameType }}</td>
  </tr>
  <tr>
    <td>Online since:</td><td>{{ onlineSince }}</td><td>Team:</td><td>{{ game.teamId }}</td>
  </tr>
  <tr>
    <td>Resolution:</td></td><td>{{ resolution }}</td><td>Map:</td><td>{{ game.map }}</td>
  </tr>
  <tr>
    <td>FPS:</td><td>{{ fps }}</td><td>Summoner spell 1:</td><td>{{ game.spell1Id }}</td>
  </tr>
  <tr>
    <td>Delay:</td><td>{{ stream.delay }}</td><td>Summoner spell 2:</td><td>{{ game.spell2Id }}</td>
  </tr>
  <tr>
    <td>Viewers:</td><td>{{ stream.viewers }}</td><td>Game duration:</td><td>{{ game.gameLengthSeconds }}</td>
  </tr>
  <tr>
    <td>Followers:</td><td>{{ stream.followers }}</td><td>Profile Icon:</td><td>{{ game.profileIconId }}</td>
  </tr>
  <tr>
    <td>Twitch Partner:</td><td>{{ partner }}</td>
  </tr>
  <tr>
    <td>URL:</td><td>{{ stream.url }}</td>
  </tr>
  <tr>
    <td>Current Preview:</td><td>{{ stream.preview }}</td>
  </tr>
  <tr>
    <td>Offline banner:</td><td>{{ stream.offlineBanner }}</td>
  </tr>
  <tr>
    <td>Logo:</td><td>{{ stream.logo }}</td>
  </tr>
  <tr>
    <td>Language:</td><td>{{ stream.language }}</td>
  </tr>
  <tr>
    <td>Mature:</td><td>{{ mature }}</td>
  </tr>
  <tr>
    <td>Channel creation date:</td><td>{{ creationDate }}</td>
  </tr>
</table>